
*{
	box-sizing: border-box;
}
body{
	background-color: #FFC300;
}
h1{
	font-size: 7vw;
	color: #581845;
	margin: 0px;
}
h2{
	color: #581845;
	font-style: bold;
}
h3{
	color: #581845;

}
p{
	color: #581845;
	text-align: justify;
}
label{
	color: #581845;
}
a{
	color: #FF5733;
}
.nav{
	display:inline;
	display: flex;
}
.portada{
	display: none;
}
.logo{
	width: 13vw;
}
.nav-link{
	color: #581845;
}
.container-fluid{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 100vh;
}
.faq{
	background-color: white;
	margin: 10px auto;
	padding: 15px;
	width: 80%;
}
div.linearLayoutV{
	display: flex;
	flex-direction: column;
}
.titulo{
	text-align: center;
	color: #581845;
}

.loginImg,
.registerImg{
	display: none;
}

@media(min-width: 576px){
}

@media(min-width: 768px){
}

@media(min-width: 992px){
	header{
		margin-left: 2%;
		margin-right: 2%;
	}
	.container-fluid{
		padding: 0;
	}
	.contenedorPantallaCompleta{
		height: 100vh;
	}
	.portada{
		width: 50vw;
	}
	.loginForm{
		text-align: left;
		justify-content: flex-start;
	}
	.loginForm h2{
		text-align: left;
	}
	.loginImg{
		display: block;
		text-align: right;
		justify-content: flex-end;
		padding-right: 0;
		height: 100%;
	}
	.loginImg img,
	.registerImg img{
		width: 40vw;
		height: 100%;
	}
	.registerForm{
		text-align: right;
		justify-content: flex-end;
	}
	.registerForm h2{
		text-align: right;
	}
	.registerImg{
		display: block;
		text-align: left;
		justify-content: flex-start;
		height: 100vh;
		padding-left: 0;
		overflow: hidden;
	}
}

@media(min-width: 1200px){
	
}